.icons {
    color: #fff;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7rem 0rem;
}
.contactRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    font-size: 2rem;
}
p {
    margin: 0px !important;
}
.contactSection {
    margin-top: 5rem !important;
}
@media (max-width: 64rem) {
    .contactInfo {
    padding: 7rem !important;
    }
    .contactRow {
        font-size: 1.5rem;
    }
}
@media (max-width: 48rem) {
    .contactInfo {
    padding: 4rem !important;
    }
}
@media (max-width: 27rem) {
    .contactInfo {
        padding: 1.3rem !important;
    }
    .contactRow {
        font-size: .8rem;
    }
    .contactContainer {
        padding: 0rem 3rem !important;
    }
}