.footer {
    background-color: black;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 3.125rem;
    max-width: 100% !important;
}
.topFooter, .bottomFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
    padding: 2rem 4rem;
    font-size: 1.5rem;
}
.topFooter {
    border-bottom: .2rem solid #fff;
    font-weight: 300
}
.bottomFooter {
    color: #fff;
    justify-content: space-between;
}
.footerLink {
    color: #fff;
    text-decoration: none;
}
@media (max-width: 64rem) {
    .topFooter, .bottomFooter {
        font-size: clamp(.6rem, .8rem, 1rem);
    }
}