.carcar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 80%;
    align-self: center;
}
.heroTxt {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    text-align: center;
    z-index: 5;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroBold{
    font-size: 10rem;
    font-weight: bold;
}
.carousel {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    max-width: 90%;
}
.carousel1 {
    display: inline-block;
    animation: slide 45s infinite linear;
}
.carousel2 {
    display: inline-block;
    animation: slide2 45s infinite linear;
    animation-direction: reverse;
}
.carImg {
    width: 10rem;
    margin: 1rem;
    height: 10rem; 
    object-fit: cover;
}
.carcar::after, .carcar::before {
    position: absolute;
    top: 0;
    width: 20rem;
    height: 100%;
    z-index: 2;
    content: "";
}
.carcar:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}
.carcar:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}
.carcar .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
  }

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes slide2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 64rem) {
    .heroTxt {
        font-size: 2rem;
    }
    .heroBold {
        font-size: 7rem;
    }
    .carImg {
        width: 8rem;
        height: 8rem;
    }
    .carcar::after, .carcar::before {
        width: 10rem;
    }
}
@media (max-width: 48rem) {
    .heroTxt {
        font-size: 2rem;
    }
    .heroBold {
        font-size: 7rem;
    }
    .carImg {
        width: 8rem;
        height: 8rem;
    }
    .carcar::after, .carcar::before {
        width: 10rem;
    }
}
@media (max-width: 27rem) {
    .heroTxt {
        font-size: 1rem;
    }
    .heroBold {
        font-size: 4rem;
    }
    .carImg {
        width: 4rem;
        height: 4rem;
        margin: .4rem;
    }
    .carcar::after, .carcar::before {
        width: 5rem;
    }
}