.slider {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    max-width: 100%;
    overflow: scroll;
    margin-top: 7rem;
    margin-bottom: 5rem;
    height: 32rem;
}
.sliderImg {
    max-width: 20rem;
    height: auto;
    border: .187rem solid #fff;
    border-radius: 1.5rem;
}
.sliderImg:hover {
    max-width: 22.5rem;
}